body {

}
section p strong {
  color: #0040FF;
}
section {
  background-color: #74d7ec;
}
header{
  background-color: #ffafc7;
  position:fixed;
  top:0px;
  padding-left: 20px;
}

 section p strong a{
   color: #0040FF;

 }
